---
- name: 1. Install Apache
  dnf: 
    name: httpd
    state: present
    
- name: 2. Install PHP
  dnf:
    name: php
    state: present

- name: 3. Install PHP Libraries
  dnf: 
    name: php-common
    state: present

- name: 4. Install Python SELinux Bindings installed
  dnf: 
    name: libselinux-python
    state: present
    
- name: 5. start Apache
  service: name=httpd state=restarted enabled=yes

- name: 6. install Hello World PHP script
  copy: src=index.php dest=/var/www/html/index.php mode=0664

- name: 7. Install python3-firewall  
  dnf:
    name: python3-firewall
    state: present

- name: 8. Configure Firewalld - https
  firewalld:
    service: https
    permanent: yes
    state: enabled

- name: 9. Configure Firewalld - http
  firewalld:
    service: http
    permanent: yes
    state: enabled


